/* Hide scrollbar for all browsers */
.overflow-x-hidden::-webkit-scrollbar {
  display: none;
}
.overflow-x-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
